# Entorno virtual
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución / packaging
dist/
build/
*.egg-info/

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Base de datos local
*.db
*.sqlite3

strings_configuracion.py
